<%= render :partial => 'users/nav' %>

<div class="panel panel-primary">
  <div class="panel-heading">
    Notification Channels
    <div class="pull-right">
      <%= link_to 'Add Channel', select_type_user_channels_path(@user), class: 'btn btn-success btn-xs' if @user.allowed_channel_types.any? %>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Channel</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% current_user.channels.each do |channel| %>
        <tr>
          <td><%= channel.type %></td>
          <td class="text-right">
            <%= link_to 'Show', {action: :show, id: channel}, class: 'btn btn-success btn-xs' %>
            <%= link_to 'Destroy', {action: :destroy, id: channel}, method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: 'The record will be removed! Are you sure?'} %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>