<div class="bl">
  <%= render :partial => 'users/nav' %>

  <div class="bl-body">
    <div class="bl-title"><%= t('channel.new', type: params[:type]) %></div>

    <p>
      <%= t("channel.#{params[:type]}.text_html") %>
    </p>
    <%= form_for @channel, url: {controller: :channels}, as: :channel do |f| %>
        <%= f.hidden_field :type %>
        <%= f.submit t('actions.continue'), class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
