<div class="card tasks sameheight-item" data-exclude="xs,sm">
  <div class="card-header bordered card-header-sm">
    <%= render :partial => 'users/header' %>
  </div>
  <div class="card-block">
    <h3 class="card-title"><%= t('channel.new', type: params[:type]) %></h3>

    <p>
      <%= t("channel.#{params[:type]}.text_html") %>
    </p>
    <%= form_for @channel, url: {controller: :channels}, as: :channel do |f| %>
        <%= f.hidden_field :type %>
        <%= f.submit t('actions.continue'), class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
