<div class="bl">
  <%= render :partial => 'users/nav' %>

  <div class="bl-body">
    <div class="bl-title"><%= t('channel.new', type: params[:type]) %></div>

    <%= t('channel.Telegram.follow_link_html') %> <a href="<%= @channel.url %>" target="_blank"><%= @channel.url %></a>
  </div>
</div>
