<% content_for(:title) do %>
    <%= @facility.name %>
<% end %>

<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <span class="text-muted">Object status:</span>
          <span class="label label-<%= @facility.decorate.css_status %>"><%= @facility.decorate.status %></span>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 text-right">
          <%= link_to 'Set ' + @facility.decorate.next_status, {action: :set_next_status}, method: :patch, class: "btn btn-#{@facility.decorate.css_next_status}", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."} %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Sensors</h3>
    </div>

    <table class="table">
      <%= render partial: 'sensor', collection: @facility.sensors %>
    </table>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Events</h3>
    </div>

    <div style="max-height: 300px; overflow-y: scroll">
      <table class="table" id="events">
        <%= render partial: 'event', collection: @facility.events.dashboard_list %>
      </table>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <span class="label label-<%= @facility.decorate.css_status %>"><%= @facility.decorate.status %></span>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
      <%= link_to @facility.decorate.next_status, {action: :set_next_status}, method: :patch, class: "btn btn-#{@facility.decorate.css_next_status}", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."} %>
    </div>
  </div>
</div>

<table class="table">
  <tbody>
    <%= render partial: 'sensor', collection: @facility.sensors %>
  </tbody>
</table>

<table class="table" id="events">
  <tbody>
    <%= render partial: 'event', collection: @facility.events.dashboard_list %>
  </tbody>
</table>

<script id="event_template" type="text/x-jsrender">
  <tr>
    <td>{{>target_name}}</td>
    <td class="text-muted text-right">{{>created_at}}</td>
    <td class="text-right">
      <span class="label label-{{:css_target_status}}">{{>target_status}}</span>
    </td>
  </tr>
</script>

<script id="sensor_template" type="text/x-jsrender">
  <tr id="sensor_{{:id}}">
    <td>{{>name}}</td>
    <td class="text-right"><span class="label label-{{:css_status}}">{{>status}}</span></td>
  </tr>
</script>

<script>
    (function() {
        var event_tmpl = $.templates("#event_template");
        var sensor_tmpl = $.templates("#sensor_template");

        App.facility = App.cable.subscriptions.create({
            channel: "FacilityChannel",
            facility_id: <%= @facility.id %>
        }, {
            connected: function() {
                console.log('connected to facility', arguments);
            },
            disconnected: function() {
                console.log('disconnected from facility');
            },
            received: function(data) {
                console.log(data);
                this[data.e](data);
            },
            event_created: function(data) {
                $('#events tbody').prepend(event_tmpl.render(data.event));
                $('#events tbody tr:last').remove();
            },
            sensor_updated: function(data) {
                $('#sensor_' + data.sensor.id).replaceWith(sensor_tmpl.render(data.sensor));
            }
        });

    }).call(this);
</script>