<!-- Top content -->
<div class="top-content">

  <div class="inner-bg">
    <div class="container">

      <div class="row">
        <div class="col"></div>
        <div class="col-sm-8 text">
          <h1><strong>Ohoronka</strong> Login &amp; Register Forms</h1>
          <div class="description">
            <p>
              Protect your assets
            </p>
            <%= image_tag('shield.svg', style: 'height: 150px; margin-bottom: -130px;') %>
          </div>
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col-sm-5">

          <div class="form-box sign-in">
            <div class="form-top">
              <div class="form-top-left">
                <h3>Login to our site</h3>
                <p>Enter username and password to log on:</p>
              </div>
              <div class="form-top-right">
                <i class="fa fa-lock"></i>
              </div>
            </div>
            <div class="form-bottom">
              <%= bootstrap_form_for((@session || SessionService.new), url: {action: :create}, method: :post, as: :session, class: 'login-form') do |f| %>
                  <%= f.errors_on :base %>
                  <%= f.text_field :user_name, placeholder: 'Username...', hide_label: true %>
                  <%= f.password_field :password, placeholder: 'Password...', hide_label: true %>
                  <button type="submit" class="btn">Sign in!</button>
              <% end %>
            </div>
          </div>

          <!--<div class="social-login">-->
          <!--<h3>...or login with:</h3>-->
          <!--<div class="social-login-buttons">-->
          <!--<a class="btn btn-link-2" href="#">-->
          <!--<i class="fa fa-facebook"></i> Facebook-->
          <!--</a>-->
          <!--<a class="btn btn-link-2" href="#">-->
          <!--<i class="fa fa-twitter"></i> Twitter-->
          <!--</a>-->
          <!--<a class="btn btn-link-2" href="#">-->
          <!--<i class="fa fa-google-plus"></i> Google Plus-->
          <!--</a>-->
          <!--</div>-->
          <!--</div>-->

        </div>

        <div class="col-sm-1 middle-border"></div>
        <div class="col-sm-1"></div>

        <div class="col-sm-5">

          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h3>Sign up now</h3>
                <p>Fill in the form below to get instant access:</p>
              </div>
              <div class="form-top-right">
                <i class="fa fa-pencil"></i>
              </div>
            </div>
            <div class="form-bottom">
              <%= bootstrap_form_for((@user || User.new), method: :post, class: 'login-form') do |f| %>
                  <%= f.errors_on :base %>
                  <%= f.text_field :first_name, placeholder: 'First name...', hide_label: true %>
                  <%= f.text_field :last_name, placeholder: 'Last name...', hide_label: true %>
                  <%= f.text_field :email, placeholder: 'Email...', hide_label: true %>
                  <%= f.password_field :password, placeholder: 'New password...', hide_label: true %>
                  <%# f.text_area :about, placeholder: 'About yourself...', hide_label: true %>
                  <button type="submit" class="btn">Sign me up!</button>
              <% end %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-sm-8">
        <div class="footer-border"></div>
        <p>Ohoronka © <%= Time.current.year %></p>
      </div>
      <div class="col"></div>
    </div>
  </div>
</footer>

<script type="text/javascript" charset="utf-8">
    $.backstretch("<%= image_path('sign_up_background.jpg') %>");
</script>
