<div class="col-sm-5">

  <div class="form-box sign-in">
    <div class="form-top">
      <div class="form-top-left">
        <h3><%= t('.login') %></h3>
        <p><%= t('.enter_email_and_password') %></p>
      </div>
      <div class="form-top-right">
        <i class="fa fa-lock"></i>
      </div>
    </div>
    <div class="form-bottom">
      <%= bootstrap_form_for((@session || SessionService.new), url: {action: :create}, method: :post, as: :session, class: 'login-form') do |f| %>
       <%= f.errors_on :base %>
       <%= f.text_field :user_name, placeholder: t('.email'), hide_label: true %>
       <%= f.password_field :password, placeholder: t('.password'), hide_label: true %>
       <button type="submit" class="btn"><%= t('.sign_in') %></button>
       <div class="text-right">
         <%= t('password_restore_link_html', path: new_password_reset_path) %>
       </div>
      <% end %>
    </div>
  </div>

</div>

<div class="col-sm-1 middle-border"></div>
<div class="col-sm-1"></div>

<div class="col-sm-5">

  <div class="form-box">
    <div class="form-top">
      <div class="form-top-left">
        <h3><%= t('.sign_up_form') %></h3>
        <p><%= t('.fill_in_registration_form') %>:</p>
      </div>
      <div class="form-top-right">
        <i class="fa fa-pencil"></i>
      </div>
    </div>
    <div class="form-bottom">
      <%= bootstrap_form_for((@user || User.new), method: :post, class: 'login-form') do |f| %>
       <%= f.errors_on :base %>
       <%= f.text_field :first_name, placeholder: User.human_attribute_name(:first_name), hide_label: true %>
       <%= f.text_field :last_name, placeholder: User.human_attribute_name(:last_name), hide_label: true %>
       <%= f.text_field :email, placeholder: User.human_attribute_name(:email), hide_label: true %>
       <%= f.password_field :password, placeholder: User.human_attribute_name(:password), hide_label: true %>
       <%# f.text_area :about, placeholder: 'About yourself...', hide_label: true %>
       <button type="submit" class="btn"><%= t('.register') %></button>
      <% end %>
    </div>
  </div>

</div>
