<div class="col-sm-6" style="margin-left: auto; margin-right: auto">
  <div class="form-box sign-in">
    <div class="form-top">
      <div class="form-top-left">
        <h3><%= t('password_reset') %></h3>
        <p><%= t('enter_your_email') %></p>
      </div>
      <div class="form-top-right">
        <i class="fa fa-lock"></i>
      </div>
    </div>
    <div class="form-bottom">
      <%= bootstrap_form_for(@user, url: {action: :update}, method: :patch) do |f| %>
       <%= f.errors_on :base %>
       <%= hidden_field_tag :token, params[:token] %>
       <%= f.password_field :password, placeholder: User.human_attribute_name(:password), hide_label: true %>
       <%= f.password_field :password_confirmation, placeholder: User.human_attribute_name(:password_confirmation), hide_label: true %>
       <button type="submit" class="btn"><%= t('change_password') %></button>
      <% end %>
    </div>
  </div>
</div>
