<div class="bl">
  <%= render :partial => 'bl_header' %>
  <div class="bl-body">
    <%= form_tag({action: :find}, class: '', method: :get) do %>
        <div class="input-group btn-group mb-2 mr-sm-2 mb-sm-0">
          <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="<%= t('friend.enter_your_friends_name') %>">
          <button type="submit" class="btn btn-edit"><%= t('actions.search') %></button>
        </div>
    <% end %>

    <ul class="list-unstyled mt-3">
      <% friend_ids = current_user.friends.ids %>
      <% @users.each do |friend| %>
          <% content_for :actions do %>
              <%= link_to t('friend.send_request'), add_friend_path(friend), class: 'btn btn-new', method: :post unless friend.id.in?(friend_ids) %>
          <% end %>

          <%= render :partial => 'friend', object: friend %>
      <% end %>
    </ul>

    <%= paginate @users, theme: 'twitter-bootstrap-4' %>
  </div>
</div>