<div class="card sameheight-item" data-exclude="xs" id="dashboard-history">
  <div class="card-header card-header-sm bordered">
    <%= render :partial => 'header' %>
  </div>
  <div class="card-block table-responsive">
    <%= form_tag({action: :find}, class: '', method: :get) do %>
        <div class="input-group btn-group mb-2 mr-sm-2 mb-sm-0">
          <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="<%= t('friend.enter_your_friends_name') %>">
          <button type="submit" class="btn btn-edit"><%= t('actions.search') %></button>
        </div>
    <% end %>

    <ul class="list-unstyled">
      <% friend_ids = current_user.friends.ids %>
      <% @users.each do |user| %>
          <li class="media">
            <img class="mr-3 rounded-circle" src="<%= user.decorate.avatar_url %>" alt="photo" style="height: 50px; width: 50px">
            <div class="media-body">
              <h5 class="mt-0 mb-1"><%= user.decorate.full_name %></h5>
              <div class="pull-right">
                <%= link_to t('friend.send_request'), add_friend_path(user), class: 'btn btn-new', method: :post unless user.id.in?(friend_ids) %>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
    <%= paginate @users, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
