<div class="card sameheight-item" data-exclude="xs" id="dashboard-history">
  <div class="card-header card-header-sm bordered">
    <%= render :partial => 'header' %>
  </div>
  <div class="card-block table-responsive">
    <ul class="list-unstyled">
      <% @friendships.each do |friendship| %>
          <% friend = friendship.friend %>
          <li class="media">
            <img class="mr-3 rounded-circle" src="<%= friend.decorate.avatar_url %>" alt="photo" style="height: 50px; width: 50px">
            <div class="media-body">
              <h5 class="mt-0 mb-1"><%= friend.decorate.full_name %></h5>
              <div class="pull-right">
                <%= link_to t('actions.destroy_icon_html'), reject_friend_path(friendship), class: 'btn btn-destroy', method: :delete, data: {confirm: t('confirm.destroy')} %>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
    <%= paginate @friendships, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
