<div class="card sameheight-item" data-exclude="xs" id="dashboard-history">
  <div class="card-header card-header-sm bordered">
    <%= render :partial => 'header' %>
  </div>
  <div class="card-block table-responsive">
    <ul class="list-unstyled">
      <% @requests.each do |request| %>
          <% friend = request.friend %>
          <li class="media">
            <img class="mr-3 rounded-circle" src="<%= friend.decorate.avatar_url %>" alt="photo" style="height: 50px; width: 50px">
            <div class="media-body">
              <h5 class="mt-0 mb-1"><%= friend.decorate.full_name %></h5>
              <div class="pull-right">
                <%= link_to t('friend.accept'), accept_friend_path(request), class: 'btn btn-new', method: :post %>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
    <%= paginate @requests, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
