<div class="bl">
  <div class="bl-body">
    <div class="bl-title-bl">
      <div class="bl-title"><%= Device.model_name.human(count: 2) %></div>
      <div class="bl-acts">
        <%= link_to t('device.new'), {action: :new}, class: 'btn btn-new' %>
      </div>
    </div>

    <table class="list">
      <tbody>
      <% @devices.each do |device| %>
          <tr>
            <td><%= device.name %></td>
            <td><%= device.decorate.status_badge %></td>
            <td class="act-col">
              <%= link_to t('actions.edit_with_icon_html'), {action: :edit, id: device.id}, class: 'btn btn-edit' %>
              <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, {action: :destroy, id: device.id}, class: 'btn btn-destroy', data: {confirm: t('confirm.destroy')}, method: :delete %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @devices, theme: 'twitter-bootstrap-4' %>
  </div>
</div>