<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Devices</h3>
    <%= link_to 'Add device', {action: :new}, class: 'btn btn-success pull-right btn-sm' %>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td>
        <td><span class="label label-<%= device.decorate.css_status %>"><%= device.status %></span></td>
        <td class="text-right">
          <%= link_to 'Edit', edit_device_path(device), class: 'btn btn-success btn-xs' %>
          <%= link_to 'Destroy', device_path(device), class: 'btn btn-danger btn-xs', data: {confirm: 'Device will be comletely destroyed. Are you sure?'}, method: :delete %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>