<div class="card sameheight-item" data-exclude="xs" id="dashboard-history">
  <div class="card-header card-header-sm bordered">
    <div class="header-block">
      <h3 class="title"><%= t('devices') %></h3>
    </div>
    <div class="header-block pull-right">
      <%= link_to t('actions.new_with_icon_html'), products_path, id: 'buy', class: 'btn btn-new btn-act card-link' %>
    </div>
  </div>
  <div class="card-block table-responsive">
    <table class="list">
      <tbody>
      <% @devices.each do |device| %>
          <tr>
            <td><%= device.name %></td>
            <td><%= device.decorate.status_badge %></td>
            <td class="act-col">
              <%= link_to t('actions.edit_with_icon_html'), {action: :edit, id: device.id}, class: 'btn btn-edit' %>
              <%= link_to t('actions.destroy_icon_html'), {action: :destroy, id: device.id}, class: 'btn btn-destroy', data: {confirm: t('confirm.destroy')}, method: :delete %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
