<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link <%= 'active' if params[:controller] == 'users' %>" href="<%= edit_user_path(current_user) %>"><%= t('user.profile') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if params[:controller] == 'channels' %>" href="<%= channels_path %>"><%= Channel.model_name.human(count: 2) %></a>
    </li>
  </ul>
</div>