<!-- TODO: load libs from the server -->
<link  href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.js"></script>

<div class="bl">
  <div class="bl-body">
    <div class="bl-title"><%= t('.crop_image_to_feet') %></div>

    <div style="margin-bottom: 8px;">
      <img id="avatar" src="<%= @user.avatar.url(:large) %>" style="max-width: 100%;">
    </div>

    <%= bootstrap_form_for(@user) do |f| %>
        <% %w[x y w h].each do |attribute| %>
            <%= f.hidden_field "crop_#{attribute}" %>
        <% end %>
        <%= f.form_group class: 'act-btns' do %>
            <%= f.submit t('actions.crop'), class: 'btn btn-block btn-save' %>
        <% end %>
    <% end %>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $('#avatar').cropper({
        checkCrossOrigin: false,
        aspectRatio: 1 / 1,
        crop: function(e) {
            $('#user_crop_x').val(e.x);
            $('#user_crop_y').val(e.y);
            $('#user_crop_w').val(e.width);
            $('#user_crop_h').val(e.height);
        }
    });
</script>