<div class="card tasks sameheight-item" data-exclude="xs,sm">
  <div class="card-header bordered card-header-sm">
    <%= render :partial => 'header' %>
  </div>
  <div class="card-block">
    <%= bootstrap_form_for(@user) do |f| %>
        <%= f.text_field :first_name %>
        <%= f.text_field :last_name %>
        <%= f.email_field :email %>

        <%= f.file_field :avatar, accept: 'image/*' %>

        <%= f.password_field :password %>
        <%= f.password_field :password_confirmation %>

        <%= f.form_group class: 'form-btns' do %>
            <%= f.submit t('actions.save'), class: 'btn btn-save' %>
        <% end %>
    <% end %>
  </div>
</div>
