<div class="panel panel-primary">
  <div class="panel-heading">
    <%= @user.name %> <span class="text-muted">(editing)</span>
  </div>

  <div class="panel-body">
    <%= render :partial => 'form' %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    Notification Channels
    <div class="pull-right">
      <%= link_to 'Add Channel', '#', class: 'btn btn-success btn-xs' %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Channel</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% current_user.channels.each do |channel| %>
      <tr>
        <td><%= channel.type %></td>
        <td class="text-right">
          <%= link_to 'Edit', '#', class: 'btn btn-success btn-xs' %>
          <%= link_to 'Destroy', '#', class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>