<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Sidebar</h3>
  </div>
  <div class="list-group">
    <% current_user.facilities.each do |facility| %>
        <a href="<%= facility_path(facility) %>" class="list-group-item tree-level-1"><%= facility.name %></a>
        <a href="<%= facility_devices_path(facility) %>" class="list-group-item tree-level-2">Devices</a>
        <a href="<%= facility_sensors_path(facility) %>" class="list-group-item tree-level-2">Sensors</a>
        <a href="<%= facility_events_path(facility) %>" class="list-group-item tree-level-2">Events</a>
    <% end %>
  </div>
</div>