<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:action] == 'index' %>" href="<%= facilities_path %>"><%= t('facility.mine') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:action] == 'shared' %>" href="<%= shared_facilities_path %>"><%= t('facility.shared_with_me') %></a>
  </li>
</ul>
