<div class="panel panel-primary">

  <div class="panel-heading">
    <%= @facility.name %>
    <span class="text-muted">Status: </span>
    <span class="label label-<%= @facility.decorate.css_status %>"><%= @facility.status %></span>

    <div class="pull-right">
      <%= link_to 'Edit', {action: :edit, id: @facility.id}, class: 'btn btn-success btn-xs' %>
      <%= link_to "Set #{@facility.next_status}",
        set_next_status_facility_path(@facility),
        class: "btn btn-xs btn-#{@facility.decorate.css_next_status}",
        remote: true,
        method: :patch
      %>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Sensor</th>
      <th class="text-right">Status</th>
    </tr>
    </thead>

    <tbody>
    <% @facility.sensors.each do |sensor| %>
        <tr id="sensor_<%= sensor.id %>">
          <td><%= sensor.name %></td>
          <td class="text-right"><span class="label label-<%= sensor.decorate.css_status %>"><%= sensor.status %></span></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Events</h3>
  </div>

  <table class="table" id="events">
    <thead>
    <tr>
      <th>Sensor</th>
      <th>Time</th>
      <th class="text-right">Event</th>
    </tr>
    </thead>

    <tbody>
    <% @facility.events.dashboard_list.each do |event| %>
        <tr>
          <td><%= event.target.name %></td>
          <td><%= event.created_at %></td>
          <td class="text-right">
            <span class="label label-<%= event.decorate.css_target_status %>"><%= event.target_status %></span>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script id="event_template" type="text/x-jsrender">
  <tr>
    <td>{{>target_name}}</td>
    <td>{{>created_at}}</td>
    <td class="text-right">
      <span class="label label-{{:css_target_status}}">{{>target_status}}</span>
    </td>
  </tr>
</script>

<script id="sensor_template" type="text/x-jsrender">
  <tr id="sensor_{{:id}}">
    <td>{{>name}}</td>
    <td class="text-right"><span class="label label-{{:css_status}}">{{>status}}</span></td>
  </tr>
</script>

<script>
    (function() {
        var event_tmpl = $.templates("#event_template");
        var sensor_tmpl = $.templates("#sensor_template");

        App.facility = App.cable.subscriptions.create({
            channel: "FacilityChannel",
            facility_id: <%= @facility.id %>
        }, {
            connected: function() {
                console.log('connected to facility', arguments);
            },
            disconnected: function() {
                console.log('disconnected from facility');
            },
            received: function(data) {
                console.log(data);
                this[data.e](data);
            },
            event_created: function(data) {
                $('#events tbody').prepend(event_tmpl.render(data.event));
                $('#events tbody tr:last').remove();
            },
            sensor_updated: function(data) {
                $('#sensor_' + data.sensor.id).replaceWith(sensor_tmpl.render(data.sensor));
            }
        });

    }).call(this);
</script>