<section class="section">
  <div class="row sameheight-container">
    <div class="col col-12 col-sm-12 col-md-12 col-xl-12">
      <div class="card sameheight-item" data-exclude="xs">
        <div class="card-block">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title">
                <%= @facility.name %>
                <span style="margin-left: 10px" class="badge badge-<%= @facility.status %>"><%= @facility.decorate.status %></span>
              </h3>
            </div>
            <div class="header-block pull-right">
              <%= link_to @facility.decorate.next_status,
                set_next_status_facility_path(@facility),
                class: "btn btn-act btn-#{@facility.next_status}",
                method: :patch,
                data: { disable_with: t('actions.loading_html')}
              %>
            </div>
          </div>

          <div class="card-block">
            <table class="list">
              <tbody>
              <% @facility.sensors.each do |sensor| %>
                  <tr id="sensor_<%= sensor.id %>">
                    <td><%= sensor.name %></td>
                    <td class="text-right">
                      <span class="badge badge-<%= sensor.status %>"><%= sensor.decorate.status %></span>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="row sameheight-container">
    <div class="col col-12 col-sm-12 col-md-12 col-xl-12">
      <div class="card sameheight-item" data-exclude="xs">
        <div class="card-block">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title">
                <%= t('last_events') %>
              </h3>
            </div>
          </div>

          <div class="card-block">
            <div class="table-responsive">
              <table class="list" id="events">
                <tbody>
                <% @facility.events.dashboard_list.each do |event| %>
                    <tr>
                      <td><%= event.target.name %></td>
                      <td><time class="js-timeago" datetime="<%= event.created_at.to_s(:iso8601) %>"><%= l event.created_at %></time></td>
                      <td class="text-right">
                        <span class="badge badge-<%= event.target_status %>"><%= event.decorate.target_status %></span>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<script id="event_template" type="text/x-jsrender">
  <tr id="event_{{:id}}">
    <td>{{>target_name}}</td>
    <td><time class="js-timeago" datetime="{{>created_at}}">{{>created_at}}</time></td>
    <td class="text-right">
      <span class="badge badge-{{:target_status}}">{{>t_target_status}}</span>
    </td>
  </tr>
</script>

<script id="sensor_template" type="text/x-jsrender">
  <tr id="sensor_{{:id}}">
    <td>{{>name}}</td>
    <td class="text-right"><span class="badge badge-{{:status}}">{{>t_status}}</span></td>
  </tr>
</script>

<script>
    (function() {
        var event_tmpl = $.templates("#event_template");
        var sensor_tmpl = $.templates("#sensor_template");

        App.facility = App.cable.subscriptions.create({
            channel: "FacilityChannel",
            facility_id: <%= @facility.id %>
        }, {
            connected: function() {
                console.log('connected to facility', arguments);
            },
            disconnected: function() {
                console.log('disconnected from facility');
            },
            received: function(data) {
                console.log(data);
                this[data.e](data);
            },
            event_created: function(data) {
                $('#events tbody').prepend(event_tmpl.render(data.event));
                $("#event_" + data.event.id + ' .js-timeago').timeago();
                if($('#events tbody tr').length > 50) {
                    $('#events tbody tr:last').remove();
                }
            },
            sensor_updated: function(data) {
                $('#sensor_' + data.sensor.id).replaceWith(sensor_tmpl.render(data.sensor));
            }
        });

    }).call(this);
</script>
