<div class="panel panel-primary">

  <div class="panel-heading">
    <%= @facility.name %>
    <span class="text-muted">Status: </span>
    <span class="label label-<%= @facility.decorate.css_status %>"><%= @facility.status %></span>

    <div class="pull-right">
      <%= link_to 'Edit', {action: :edit, id: @facility.id}, class: 'btn btn-success btn-xs' %>
      <%= link_to "Set #{@facility.next_status}",
        set_next_status_facility_path(@facility),
        class: "btn btn-xs btn-#{@facility.decorate.css_next_status}",
        remote: true,
        method: :patch
      %>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Sensor</th>
      <th class="text-right">Status</th>
    </tr>
    </thead>

    <tbody>
    <% @facility.sensors.each do |sensor| %>
        <tr>
          <td><%= sensor.name %></td>
          <td class="text-right"><span class="label label-<%= sensor.decorate.css_status %>"><%= sensor.status %></span></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Events</h3>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Sensor</th>
      <th>Time</th>
      <th class="text-right">Event</th>
    </tr>
    </thead>

    <tbody>
    <% @facility.events.mobile_list.each do |event| %>
        <tr>
          <td><%= event.target.name %></td>
          <td><%= event.created_at %></td>
          <td class="text-right">
            <span class="label label-<%= event.decorate.css_target_status %>"><%= event.target_status %></span>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>