<div class="card sameheight-item" data-exclude="xs" id="dashboard-history">
  <div class="card-header card-header-sm bordered">
    <div class="header-block">
      <h3 class="title"><%= t('events') %></h3>
    </div>
  </div>
  <div class="card-block table-responsive">
    <table class="list">
      <tbody>
      <% @events.each do |event| %>
          <tr>
            <td><%= event.target.name %></td>
            <td><%= l(event.created_at, format: :short) %></td>
            <td class="text-right"><span class="badge badge-<%= event.target_status %>"><%= event.decorate.target_status %></span></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @events, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
