<% content_for(:title) do %>
    <%= @facility.name %>
<% end %>

<script>
    (function() {
        App.facility = App.cable.subscriptions.create({
            channel: "FacilityChannel",
            facility_id: <%= @facility.id %>
        }, {
            connected: function() {
                console.log('connected to facility', arguments);
            },
            disconnected: function() {
                console.log('disconnected from facility');
            },
            received: function(data) {
                console.log(data);
                this[data.e](data);
            },
            event_created: function(data) {
                $('#events tbody').prepend(data.html);
                $('#events tbody tr:last').remove();
            },
            sensor_updated: function(data) {
                $('#sensor_' + data.id).replaceWith(data.html);
            }
        });

    }).call(this);
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <span class="label label-<%= @facility.decorate.css_status %>"><%= @facility.decorate.status %></span>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
      <%= link_to @facility.decorate.next_status, {action: :set_next_status}, method: :patch, class: "btn btn-#{@facility.decorate.css_next_status}", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."} %>
    </div>
  </div>
</div>

<table class="table">
  <%= render partial: 'sensor', collection: @facility.sensors %>
</table>

<table class="table" id="events">
  <%= render partial: 'event', collection: @facility.events.mobile_list %>
</table>