<% layout = nil unless defined?(layout) %>
<table class="list table">
  <thead>
  <tr>
    <% unless layout == :email %>
     <th><%= Product.human_attribute_name(:image) %></th>
    <% end %>
    <th><%= Product.human_attribute_name(:name) %></th>
    <th><%= OrderProduct.human_attribute_name(:quantity) %></th>
    <th><%= OrderProduct.human_attribute_name(:price) %></th>
    <th><%= OrderProduct.human_attribute_name(:subtotal) %></th>
  </tr>
  </thead>
  <tbody>
  <% order.order_products.preload(:product).each do |order_product| %>
   <% order_product = order_product.decorate  %>
   <tr>
     <% unless layout == :email %>
      <td><img src="<%= order_product.product.image.url(:thumb) %>" style="width: 50px; height: 50px;"></td>
     <% end %>
     <td><%= order_product.product.name %></td>
     <% if layout == :cart %>
      <td>
        <%= number_field_tag 'order_product[quantity]', order_product.object.quantity, step: 1, min: 1, class: 'form-control', data: {remote: true, url: update_item_cart_path, params: {item_id: order_product.id}.to_param, method: :patch} %>
      </td>
     <% else %>
       <td><%= order_product.quantity %></td>
     <% end %>
     <td><%= order_product.price %></td>
     <td id="item_<%= order_product.id %>_subtotal"><%= order_product.subtotal %></td>
   </tr>
  <% end %>
  </tbody>
  <tfooter>
    <tr>
      <td colspan="<%= layout == :email ? 4 : 5 %>" style="text-align: right">
        <strong><%= Order.human_attribute_name(:total) %>: </strong><strong id="cart_total"><%= order.total %></strong>
      </td>
    </tr>
  </tfooter>
</table>
