<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link <%= 'active' if params[:action] == 'index' %>" href="<%= url_for(action: :index) %>"><%= FacilityShare.model_name.human(count: 2) %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if params[:action] == 'share_with_friend' %>" href="<%= url_for(action: :share_with_friend) %>"><%= t('facility_share.share_with') %></a>
    </li>
  </ul>
</div>