<div class="card sameheight-item" data-exclude="xs" id="dashboard-history">
  <div class="card-header card-header-sm bordered">
    <%= render :partial => 'header' %>
  </div>
  <div class="card-block table-responsive">
    <ul class="list-unstyled">
      <% @shares.each do |share| %>
        <% user = share.user %>
        <li class="media">
          <img class="mr-3 rounded-circle" src="<%= user.decorate.avatar_url %>" alt="photo" style="height: 50px; width: 50px">
          <div class="media-body">
            <h5 class="mt-0 mb-1"><%= user.decorate.full_name %></h5>
            <%= share.decorate.human_enum(:role) %>
            <% if current_user.id == user.id %>
                <span class="badge badge-success"><%= t('its_you') %></span>
            <% end %>
            <div class="pull-right">
              <%= link_to t('actions.edit_icon_html'), {action: :edit, id: share}, class: 'btn btn-edit' %>
              <% if current_user.id != user.id %>
                  <%= link_to t('actions.destroy_icon_html'), {action: :destroy, id: share}, method: :delete, class: 'btn btn-destroy', data: {confirm: t('confirm.destroy')} %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
