<div class="bl">
  <div class="bl-body">
    <div class="bl-title-bl">
      <div class="bl-title">Sensors</div>
      <div class="bl-acts">
        <%= link_to 'Add Sensor', {action: :select_device}, class: 'btn btn-new' %>
      </div>
    </div>

    <table class="list">
      <tbody>
      <% @sensors.each do |sensor| %>
          <tr>
            <td><%= sensor.name %></td>
            <td><small class="text-muted">Device:</small> <%= sensor.device.name %></td>
            <td><span class="badge badge-<%= sensor.status %>"><%= sensor.status %></span></td>
            <td class="act-col">
              <%= link_to 'Edit', {action: :edit, device_id: sensor.device_id, id: sensor.id}, class: 'btn btn-edit' %>
              <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, {action: :destroy, device_id: sensor.device_id, id: sensor.id}, class: 'btn btn-destroy', data: {confirm: 'Record will be completely destroyed. Are you sure?'}, method: :delete %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>