<div class="bl">
  <div class="bl-body">
    <div class="bl-title-bl">
      <div class="bl-title"><%= Sensor.model_name.human(count: 2) %></div>
      <div class="bl-acts">
        <%= link_to t('sensor.new'), {action: :select_device}, class: 'btn btn-new' %>
      </div>
    </div>

    <table class="list">
      <tbody>
      <% @sensors.each do |sensor| %>
          <tr>
            <td><%= sensor.name %></td>
            <td><small class="text-muted"><%= Device.model_name.human %>: </small> <%= sensor.device.name %></td>
            <td><span class="badge badge-<%= sensor.status %>"><%= sensor.status %></span></td>
            <td class="act-col">
              <%= link_to t('actions.edit_with_icon_html'), {action: :edit, device_id: sensor.device_id, id: sensor.id}, class: 'btn btn-edit' %>
              <%= link_to t('actions.destroy_icon_html'), {action: :destroy, device_id: sensor.device_id, id: sensor.id}, class: 'btn btn-destroy', data: {confirm: t('confirm.destroy')}, method: :delete %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @sensors, theme: 'twitter-bootstrap-4' %>
  </div>
</div>