<% content_for(:title) do %>
    <%= @object.name %>
<% end %>

<script>
    (function() {
        App.guarded_object = App.cable.subscriptions.create({
            channel: "GuardedObjectChannel",
            guarded_object_id: <%= @object.id %>
        }, {
            connected: function() {
                console.log('connected to object', arguments);
            },
            disconnected: function() {
                console.log('disconnected from object');
            },
            received: function(data) {
                console.log(data);
                this[data.e](data);
            },
            event_created: function(data) {
                $('#events tbody').prepend(data.html);
                $('#events tbody tr:last').remove();
            },
            sensor_updated: function(data) {
                $('#sensor_' + data.id).replaceWith(data.html);
            }
        });

    }).call(this);
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <span class="label label-<%= @object.decorate.css_status %>"><%= @object.decorate.status %></span>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
      <%= link_to @object.decorate.next_status, {action: :set_next_status}, method: :patch, class: "btn btn-#{@object.decorate.css_next_status}" %>
    </div>
  </div>
</div>

<table class="table">
  <%= render partial: 'sensor', collection: @object.sensors %>
</table>

<table class="table" id="events">
  <%= render partial: 'event', collection: @object.events.mobile_list %>
</table>