<div class="card sameheight-item" data-exclude="xs" id="dashboard-history">
  <div class="card-header card-header-sm bordered">
    <div class="header-block">
      <h3 class="title"><%= Product.model_name.human(count: 2) %></h3>
    </div>
  </div>
  <div class="card-block table-responsive">
    <% @products.in_groups_of(4) do |group| %>
      <div class="card-deck">
        <% group.each do |product| %>
          <div class="card text-center">
            <% if product.present? %>
             <img class="card-img-top mx-auto" src="<%= product.image.url(:normal) %>" alt="<%= product.name %>" style="height: 150px; width: 150px">
             <div class="card-body">
               <h5 class="card-title"><%= product.name %></h5>
               <h3 class="card-title"><%= number_to_currency product.price %></h3>
               <p class="card-text"><%= product.description&.html_safe %></p>
             </div>
             <div class="card-footer">
               <%= link_to t('add_to_cart'), {action: :to_cart, id: product.id}, class: 'btn btn-edit', method: :post, id: "add_product_#{product.id}_to_cart" %>
             </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
