<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>OHORONKA</title>

  <link rel="icon" href="/favicon.ico">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= "<script>window.bugsnagClient = '#{Bugsnag.configuration.api_key}'</script>".html_safe if Bugsnag.configuration.api_key %>
</head>
<body>

  <div class="app loaded" id="app">
    <%= render :partial => "shared/header" %>

    <%= render :partial => "shared/sidebar" %>

    <div id="flash" class="flash"></div>
    <% if flash[:notice] || flash[:alert] %>
     <script type="text/javascript" charset="utf-8">
         $( document ).on('turbolinks:load', function() {
             flash('<%= j flash[:notice] || flash[:alert] %>')
         });
     </script>
    <% end %>

    <article class="content">
      <%= yield %>
    </article>
  </div>

</body>
</html>
