<% content_for :side_bar do %>
    <h2>
      <a href="<%= facility_path(facility) %>"><%= facility.name %></a>
    </h2>
    <div class="list-group">
      <a href="<%= facility_devices_path(facility) %>" class="list-group-item tree-level-2">Devices</a>
      <a href="<%= facility_sensors_path(facility) %>" class="list-group-item tree-level-2">Sensors</a>
      <a href="<%= facility_events_path(facility) %>" class="list-group-item tree-level-2">Events</a>
    </div>
<% end %>
<%= render template: 'layouts/general' %>