<% content_for :side_bar do %>
    <h2>
      <a href="<%= guarded_object_path(object) %>"><%= @object.name %></a>
    </h2>
    <div class="list-group">
      <a href="<%= guarded_object_devices_path(object) %>" class="list-group-item tree-level-2">Devices</a>
      <a href="<%= guarded_object_sensors_path(object) %>" class="list-group-item tree-level-2">Sensors</a>
      <a href="<%= guarded_object_events_path(object) %>" class="list-group-item tree-level-2">Events</a>
    </div>
<% end %>
<%= render template: 'layouts/general' %>