<% content_for :left_col do %>
    <div class="bl">
      <div class="bl-body">
        <div class="bl-title-bl">
          <div class="bl-title">
            Navigation
          </div>
          <div class="bl-acts">
            <%= link_to 'New Facility', new_facility_path, class: 'btn btn-new btn-act card-link' %>

          </div>
        </div>

        <ul class="links-list">
          <li>
            <i class="fa fa-home" aria-hidden="true"></i>
            <%= link_to facility.name, facility_path(facility) %>
          </li>
          <li>
            <i class="fa fa-calculator" aria-hidden="true"></i>
            <%= link_to 'Devices', facility_devices_path(facility) %>
          </li>
          <li>
            <i class="fa fa-eye" aria-hidden="true"></i>
            <%= link_to 'Sensors', facility_sensors_path(facility) %>
          </li>
          <li>
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <%= link_to 'Events', facility_events_path(facility) %>
          </li>
        </ul>
      </div>
    </div>
<% end %>
<%= render template: 'layouts/general' %>