<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ohoronka</title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
  <body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <%= content_for?(:title) ? yield(:title) : 'Ohoronka' %>
        </a>
      </div>

      <ul class="nav navbar-nav">
        <li><%= link_to 'Facilities', facilities_path %></li>
        <li><%= link_to 'Users', users_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_admin %>
            <li><%= link_to 'Admin Interface', admin_root_path %></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Profile', '#' %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
          </ul>
        </li>
      </ul>

    </div>
  </nav>

  <div class="container">
    <div class="row">
      <% if content_for? :side_bar %>
          <div class="col-md-3">
            <%= yield(:side_bar) %>
          </div>
      <% end %>

      <div class="<%= content_for?(:side_bar) ? 'col-md-9' : 'col-md-12' %>">
        <%= yield %>
      </div>

    </div>
  </div>

  </body>
</html>
